<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/menu</url-pattern>
        <url-pattern>/menu/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandController</servlet-name>
        <servlet-class>controller.menu.LandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersController</servlet-name>
        <servlet-class>controller.menu.OrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertLandController</servlet-name>
        <servlet-class>controller.menu.land.InsertLandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLandController</servlet-name>
        <servlet-class>controller.menu.land.DeleteLandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLandController</servlet-name>
        <servlet-class>controller.menu.land.UpdateLandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>controller.menu.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProjectController</servlet-name>
        <servlet-class>controller.menu.project.InsertProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectController</servlet-name>
        <servlet-class>controller.menu.project.DeleteProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectController</servlet-name>
        <servlet-class>controller.menu.project.UpdateProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSectorController</servlet-name>
        <servlet-class>controller.menu.sector.DeleteSectorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectorController</servlet-name>
        <servlet-class>controller.menu.SectorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSectorController</servlet-name>
        <servlet-class>controller.menu.sector.InsertSectorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSectorController</servlet-name>
        <servlet-class>controller.menu.sector.UpdateSectorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertLandController2</servlet-name>
        <servlet-class>controller.menu.land.InsertLandController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLandController2</servlet-name>
        <servlet-class>controller.menu.land.UpdateLandController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInsertController</servlet-name>
        <servlet-class>controller.menu.OrderInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandController</servlet-name>
        <url-pattern>/menu/land</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersController</servlet-name>
        <url-pattern>/menu/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertLandController</servlet-name>
        <url-pattern>/menu/land/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLandController</servlet-name>
        <url-pattern>/menu/land/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLandController</servlet-name>
        <url-pattern>/menu/land/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/menu/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProjectController</servlet-name>
        <url-pattern>/menu/project/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectController</servlet-name>
        <url-pattern>/menu/project/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectController</servlet-name>
        <url-pattern>/menu/project/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSectorController</servlet-name>
        <url-pattern>/menu/sector/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectorController</servlet-name>
        <url-pattern>/menu/sector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSectorController</servlet-name>
        <url-pattern>/menu/sector/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSectorController</servlet-name>
        <url-pattern>/menu/sector/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertLandController2</servlet-name>
        <url-pattern>/menu/land/insert2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLandController2</servlet-name>
        <url-pattern>/menu/land/update2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInsertController</servlet-name>
        <url-pattern>/menu/orders/insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
